/*
Editorial theme
Version: 0.5
Based on: 320 and Up boilerplate extension
*/

/* 1.ROOT ___________________________________________________________________________________________________________ */
/* 2.HEADINGS _______________________________________________________________________________________________________ */
/* 3.TYPOGRAPHY _____________________________________________________________________________________________________ */
/* 4.LINKS __________________________________________________________________________________________________________ */
/* 5.FIGURES & IMAGES  ______________________________________________________________________________________________ */
/* 6.TABLES _________________________________________________________________________________________________________ */
/* 7.FORMS __________________________________________________________________________________________________________ */
/* 8.BANNER _________________________________________________________________________________________________________ */
/* 9.NAVIGATION _____________________________________________________________________________________________________ */
/* 10.CONTENT _______________________________________________________________________________________________________ */
/* 11.MAIN __________________________________________________________________________________________________________ */
/* 12.COMPLIMENTARY _________________________________________________________________________________________________ */
/* 13.CONTENTINFO ___________________________________________________________________________________________________ */
/* 14.GLOBAL OBJECTS   ______________________________________________________________________________________________ */
/* 15.VENDOR-SPECIFIC _______________________________________________________________________________________________ */
/* 16.TEMPLATE SPECIFICS ____________________________________________________________________________________________ */
/* 17.MODERNIZR _____________________________________________________________________________________________________ */


/* 0.RESET __________________________________________________________________________________________________________ */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,
label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,
header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin:0;border:0;padding:0;
font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,iframe {display:block;}
abbr[title] {border-bottom:1px dotted;cursor:help;}


/* 1.ROOT ___________________________________________________________________________________________________________ */

html {overflow-y:scroll;background:#fff;}
body {margin:0 auto;padding:0 0 20px;width:90%;font:100%/20px helvetica,arial,sans-serif;color:#262121;
background-color:transparent;}

/*
#primary,#rss,#inside #single footer,#inside-portrait #single footer,#tabs,#navigate ul,#embed,.notice,
#comments article,#paging,#layout-list .featured article,#team li,.featured article
{background:url(../images/bgr/lines.gif) repeat-x;}

#find,#primary li,#primary .selected a,#tabs li,#footer nav li,#rss li,.xoxo li,#media-count,footer nav .selected a,
#layout a,.vote-for em,.vote-against em,#navigate li,.entry-content ul li,.m-button span
{background:url(../images/bgr/sprite.png) no-repeat;}
*/

/* 2.HEADINGS _______________________________________________________________________________________________________ */

h1,h2,h3,h4,h5,h6 {font-family:MinionProSemibold,georgia,serif;}

h1 {font-size:72px;line-height:72px;text-transform:uppercase;}
h1 em {font-style:normal;color:#da1e25;}
#home h2 {font-size:18px;}

/*
h1,h2,h3,h4,h5,h6 {font-weight:normal;color:#262626;}
#home h1,#home-portrait h1,.featured h2,#comments cite,#paging .more {font-family:MinionProSemibold,georgia,serif;
color:#ccc;text-decoration:underline;}
#embed h4,.message .lead,#common h2,#team .fn,address .fn,.entry-content h2,#try
{font-family:MinionProSemibold,georgia,serif;}
h1 a,h2 a {color:#262626;}
h1,h2 {margin:0 0 10px;font-size:35px;line-height:35px;}
#common h2 {margin:7px 0 3px;font-size:22px;line-height:30px;}
h3 {font-size:28px;margin:0 0 10px;}

#notfound h1 {margin:62px 0 0;font-size:60px;line-height:70px;text-align:center;}
#notfound h2 {margin:-100px 0 0;font-size:200px;color:#f2f2f2;text-align:center;position:relative;z-index:-1;}
*/

/* 3.TYPOGRAPHY _____________________________________________________________________________________________________ */

@font-face {font-family:MinionProSemibold;src:url('../fonts/minionpro-semibold.eot');
src:url('../fonts/minionpro-semibold.eot?#iefix') format('embedded-opentype'),
url('../fonts/minionpro-semibold.woff') format('woff'),url('../fonts/minionpro-semibold.ttf') format('truetype'),
url('../fonts/minionpro-semibold.svg#MinionProSemibold') format('svg');font-weight:normal;font-style:normal;}

@font-face {font-family:MinionProSemiboldItalic;src:url('../fonts/minionpro-semiboldit.eot');
src:url('../fonts/minionpro-semiboldit.eot?#iefix') format('embedded-opentype'),
url('../fonts/minionpro-semiboldit.woff') format('woff'),url('../fonts/minionpro-semiboldit.ttf') format('truetype'),
url('../fonts/minionpro-semiboldit.svg#MinionProSemiboldItalic') format('svg');font-weight:normal;font-style:normal;}

/*
h1 em,#comments-form li em,.qa em {font-style:normal;}
h1 em,caption,#comments-form li em,.qa em,.message li,#errors .lead,#primary .selected a,.featured footer a,
#exposed footer a,#inside #single footer a,#inside-portrait #single footer a,.notice strong,#paging strong,#navigate a,
.favorize .negative,#team .title,footer h3,#notfound h1 {color:#d00;}
*/

p,ol,ul,dl,address {margin:0 0 15px;font-size:13px;}
.entry-content h2 {font-size:20px;line-height:22px;}
.entry-content p+ul,.entry-content p+ol {margin-top:-15px;}
.entry-content ul {margin:0 0 15px;}
.entry-content ul li {padding:0 0 0 25px;background-position:-594px -214px;}
.entry-content ol {margin:0 0 15px 30px;}
.entry-content ol li {padding:0 0 0 5px;list-style:decimal outside;}
ul,ol,menu {list-style:none;}
li ul,li ol,menu li {margin:0;font-size:1em;}
dl,dd {margin-bottom:1.5em;}
dt{font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after {content:'';content:none;}
b,strong{font-weight:bold;}
i,em {font-style:italic;}
sup,sub {font-size:75%;line-height:0;position:relative;}
sup {top:-.5em;}
sub {bottom:-.25em;}
address {font-style:normal;}
pre {margin-bottom:1.5em;white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
pre,code {font:.875em 'andale mono','lucida console',monospace;line-height:1.5;}
small {font-size:1em;}
label,input[type='submit'] {cursor:pointer}
input,textarea,table {font-family:helvetica,arial,sans-serif;}

#primary li {font-family:MinionProSemibold,georgia,sans-serif;}


/*.submit input {border:1px solid #fff;padding:10px 10px 7px;width:147px;font-family:MinionProSemibold,georgia,serif;
font-size:14px;color:#000;letter-spacing:2px;text-transform:uppercase;background:#eee;
background:-moz-linear-gradient(top,#fff,#fff 50%,#d7d7d7);
background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#d7d7d7),color-stop(.5,#fff));
background:linear-gradient(top,#fff,#fff 50%,#d7d7d7);-moz-box-shadow:0 0 4px rgba(0,0,0,.5);
-webkit-box-shadow:0 0 4px rgba(0,0,0,.5);box-shadow:0 0 4px rgba(0,0,0,.5);}*/

/* 4.LINKS __________________________________________________________________________________________________________ */

a {color:#09c;text-decoration:none;}


/* 5.FIGURES & IMAGES _______________________________________________________________________________________________ */

figure img,figure object,figure embed,.logo {display:block;max-width:100%;}
/*
#video {float:left;}
figcaption {font:12px/15px helvetica,arial,sans-serif;color:#999;display:block;font-weight:normal;clear:both;}
figcaption h3 {margin:0 0 5px;font:bold 12px/15px helvetica,arial,sans-serif;text-transform:uppercase;color:#999;}
figcaption p {font:12px/15px helvetica,arial,sans-serif;color:#a5a5a5;}

.slideshow {overflow:hidden;}
.slideshow #header,.slideshow .content,.slideshow #footer {display:none;}

#media-gallery {width:100%;height:100%;background:#000;position:absolute;top:0;left:0;display:none;}
.slideshow #media-gallery {display:block;}
#media-gallery header {width:100%;height:60px;background:rgba(0,0,0,.8);position:absolute;top:0;left:0;z-index:1;}
#logo-white {position:absolute;top:22px;left:14px;}
#remote {width:152px;position:absolute;top:9px;right:10px;}
#remote li {float:left;}

#m-prev {border-top-left-radius:20px;border-bottom-left-radius:20px;border-right-color:rgba(0,0,0,.3);
box-shadow:0 2px 1px rgba(0,0,0,.3);}
#m-prev.disabled {opacity:.5;box-shadow:0 2px 1px rgba(0,0,0,.3),inset 1px 0 1px rgba(0,0,0,.8);}
#m-prev span {width:55px;background-position:-189px -126px;}
#m-slide {border-left-color:rgba(255,255,255,.1);border-right-color:rgba(0,0,0,.3);}
#m-slide span {width:37px;background-position:-246px -126px;}
#m-slide.running span {background-position:-348px -126px;}
#m-next {border-top-right-radius:20px;border-bottom-right-radius:20px;border-left-color:rgba(255,255,255,.1);
box-shadow:0 2px 1px rgba(0,0,0,.3);}
#m-next.disabled {opacity:.5;box-shadow:0 2px -1px rgba(0,0,0,.3),inset 1px 0 1px rgba(0,0,0,.8);}
#m-next span {width:54px;background-position:-284px -126px;}
#m-back,.m-toggle,.m-embed {border-radius:20px;box-shadow:0 0 2px #000;position:absolute;bottom:9px;}
#m-back {left:10px;}
#m-back span {width:90px;background-position:-170px -165px;}

.m-toggle {left:110px;}
.m-toggle span {width:90px;background-position:-275px -165px;}

.m-embed {left:210px;}
.m-embed span {width:90px;background-position:-380px -166px;}

.m-button {border:1px solid #1a1a1a;outline:none;background:-moz-linear-gradient(top,rgba(192,192,192,.25),
rgba(255,255,255,.05));background:-webkit-gradient(linear,left top,left bottom,from(rgba(192,192,192,.25)),
to(rgba(255,255,255,0.05)));display:block;}
.m-button span {height:40px;display:block;text-indent:-999em;}

.m-button:hover {border-color:rgba(255,255,255,.75);}
.m-toggle:hover,.m-embed:hover,#m-prev.disabled:hover,#m-next.disabled:hover {border-color:#1a1a1a;}
#m-prev.disabled:hover {border-right-color:rgba(0,0,0,.3);}
#m-next.disabled:hover {border-left-color:rgba(255,255,255,.1);}

.pressed {border-color:rgba(255,255,255,.2);background:-moz-linear-gradient(top,rgba(255,255,255,.1),
rgba(255,255,255,.1) 50%,rgba(255,255,255,.15));background:-webkit-gradient(linear,left top,left bottom,
from(rgba(255,255,255,.1)),to(rgba(255,255,255,.1)),color-stop(.5,rgba(255,255,255,.15)));
box-shadow:inset 0 5px 5px #000;}
.pressed:hover {border-color:rgba(255,255,255,.2);}
.m-embed.pressed {border-color:rgba(255,255,255,.75);}
#m-slide.running:hover {border-color:#1a1a1a;border-left-color:rgba(255,255,255,.1);border-right-color:rgba(0,0,0,.3);}

#loading {display:none;}
#media-elements {width:100%;height:100%;}
#media-elements figure {display:none;}
#media-elements .active {display:block;}
#media-elements img {margin:0 auto;max-height:100%;}
#media-elements figcaption {padding:0 0 50px;width:100%;background:rgba(0,0,0,.8);position:absolute;left:0;bottom:0;}
#media-elements h2 {margin:14px 14px 11px 0;font:12px/15px helvetica,arial,sans-serif;color:#fff;float:right;}
#media-elements h3 {margin:14px 0 11px 14px;width:80%;color:#fff;float:left;}
#media-elements p {margin:0 14px 11px;color:#fff;clear:both;display:none;}
*/

/* 6.TABLES _________________________________________________________________________________________________________ */

table {margin:0 0 25px;border-collapse:collapse;border-spacing:0;width:100%;font-size:12px;}
caption {padding:3px 0 2px;font-size:10px;text-transform:uppercase;text-align:left;}
th,tbody td {border-bottom:1px solid #e6e6e6;padding:6px 0 3px;text-align:left;}
th {font-weight:bold;}
tfoot {color:#a5a5a5;}
tfoot td {padding:5px 0;}
tbody tr:nth-child(2n+2) td {background:#f5f5f5;}
table .right {text-align:right;}

/* 7.FORMS __________________________________________________________________________________________________________ */

fieldset {padding:10px 0;}
#errors {color:#da1e25;}
.error input {border:1px solid #da1e25;}

/*
#search {margin:0 0 15px;}
#search fieldset {width:275px;position:relative;}
#notfound #search fieldset {border:5px solid #e6e6e6;}
#query,#embed-code,#comments-form .text input,#comments-form textarea,#comments-form .riddle input {
border:1px solid #a6a6a6;border-right-color:#d9d9d9;border-bottom-color:#d9d9d9;padding:8px 4px 7px;font-size:14px;}

#query {padding:4px 30px 2px 4px;width:275px;height:30px;}
#find {border:none;width:30px;height:30px;background-position:7px -42px;position:absolute;top:-1px;right:1px;}

#comments-form {padding:37px 0 0;width:100%;float:left;}
#comments-form ol {margin:0;}
#comments-form li {margin:0 0 15px;}
#comments-form li label,#layout p,#layout li,.qa em {padding:0 0 5px;font:10px/14px helvetica,arial,sans-serif;color:#999;
text-transform:uppercase;display:block;}
.qa em {padding:6px 0 5px;}
#comments-form .text input {width:100%;color:#333;}
#comments-form .area textarea {margin:0 0 8px;width:100%;height:158px;color:#333;}
#comments-form .riddle {width:100%;}
#comments-form .riddle label {padding:0;}
#comments-form .riddle span {padding:5px 18px 8px 0;font-size:18px;display:block;}
#comments-form .riddle strong {color:#333;}
#comments-form .riddle input {width:100%;}
.submit {padding:5px 0 27px;text-align:center;}
#comments-form .submit input {margin:0 auto;}

#comments-form .error input,.error textarea  {border-color:#d00;}

.message {margin:39px 0 0;padding:13px 0;overflow:hidden;position:relative;z-index:1;}
.message h3 {color:#e7d6cc;top:36px;left:27px;display:none;}
.message p,.message li {font-size:18px;line-height:20px;}
.message p {margin:0 0 2px;padding:0 13px;}
.message .lead {margin:0 0 6px;}
.message ol {margin:0;padding:0 13px 0 35px;}
.message li {margin:0 0 4px;list-style:decimal;}

#errors {border:1px solid #e6dada;background:#faf3ed;}
#success {border:1px solid #dce6ca;background:#f2f5e3;}
#success h3 {color:#fff;}
#success .lead {color:#79a500;}
*/

/* 8.BANNER _________________________________________________________________________________________________________ */

#header {margin:0 0 40px;width:100%;background:#313131;}
#brand {float:left;}
#home #brand {float:none;}
#home #header h1 {font:bold 28px/45px helvetica,arial,sans-serif;display:inline;}
#home h1 a {color:#262121;}
#home #header h2 {font:40px/45px MinionProSemiboldItalic,georgia,serif;display:inline;}

/*
#header,.content {border-bottom:1px solid #bfbfbf;-moz-box-shadow:0 10px 10px -10px rgba(0,0,0,.3);
-webkit-box-shadow:0 10px 10px -10px rgba(0,0,0,.3);box-shadow:0 10px 10px -10px rgba(0,0,0,.3);}
#notfound #header,#notfound .content {border:none;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}
#header {margin:0 0 18px;}
#brand {margin:0 0 15px;}
#brand img {margin:0;}

#notfound #header,#try {margin-left:-140px;width:285px;position:absolute;left:50%;}
#notfound #header {top:230px;}
#try {font-size:16px;line-height:21px;top:150px;}
*/

/* 9.NAVIGATION _____________________________________________________________________________________________________ */

#primary {height:40px;float:left;}
#primary li {padding:0 0 0 10px;text-transform:uppercase;float:left;}
#primary a {margin:10px 0 0;font-size:13px;line-height:20px;color:#7f7f7f;display:block;}
#primary .selected a {color:#fff;}

/*
#primary {margin:0 0 7px;padding:8px 0 0;width:100%;float:left;}
#primary ul {width:100%;display:inline;}
#primary li,#rss li,#footer nav li,#tabs li {font:13px MinionProSemibold,georgia,serif;letter-spacing:2px;
text-transform:uppercase;background-position:-549px -40px;float:left;}
#primary a,#footer nav a,#rss a,#tabs a {padding:8px 12px 7px;display:block;}
#primary .selected a,footer nav .selected a {padding-right:32px;background-position:right -77px;}
*/

/* 10.CONTENT _______________________________________________________________________________________________________ */
/* 11.MAIN __________________________________________________________________________________________________________ */

/*
.featured {margin:0 0 20px;width:100%;float:left;}
#layout-grid .featured,#layout-list .featured {margin-bottom:0;}
.featured article {margin:0 0 20px;width:100%;background-position:bottom;float:left;}
#layout-list .featured article {background-position:bottom;}
.featured figure {margin:0 0 20px;float:left;}
.featured figure a,#exposed figure a,#to-gallery,#media span,#navigate img,#team img {border:1px solid #ccc;padding:6px;
display:block;}
.featured figure {display:none;}
.featured h2,#exposed h2 {font-size:20px;line-height:25px;}
.featured h3 {margin:0 0 23px;}
.featured p {display:none;}
.featured footer,#exposed footer,#inside #single footer,#inside-portrait #single footer,#comments time,#paging p,
footer h3 {padding:0 0 6px;font:10px/12px helvetica,arial,sans-serif;text-transform:uppercase;}
.featured time,#exposed time,#single time,#inside #single footer em,#inside-portrait #single footer em,
#inside #single footer em a,#inside-portrait #single footer em a,#paging p {color:#999;}
.featured time:before,#exposed time:before,#inside #single time:before,#inside-portrait #single time:before {content:'- ';}

#exposed {margin:0 0 20px;border-bottom:1px solid #bfbfbf;width:100%;float:left;}
#exposed figure {margin:0 auto 10px;}
#exposed p {font-size:20px;line-height:25px;color:#262626;}
#exposed footer {padding:12px 0 9px;}

#single,#common {margin:0 0 10px;}
#layout-list #single h1,#layout-grid #single h1 {margin:15px 0 20px;width:100%;float:left;}
#intro .entry-summary {margin:0 0 13px;font-size:20px;line-height:26px;position:relative;}
#intro .entry-summary:before,#intro .entry-summary:after {width:230px;height:230px;font-size:600px;line-height:600px;
color:#f4f4f4;overflow:hidden;position:absolute;z-index:-1;}
#intro .entry-summary:before {content:'“';left:-20px;top:-65px;}
#intro .entry-summary:after {content:'”';right:-15px;bottom:-144px;}
#inside #single footer,#inside-portrait #single footer {margin-top:1px;padding-top:12px;}
#single .entry-content a,#comments .show a {border-bottom:1px solid #d6d6d6;}
#single footer em {font-style:normal;}
#single footer em a {font-weight:bold;}
#single .social {margin:0;width:100%;float:left;}
#single .social li {margin:10px 15px 0 0;float:left;}
#gallery #single h1,#gallery-portrait #single h1,#feedback #single h1,.notice a {text-decoration:underline;color:#d9d9d9;}

#media {margin:15px 0 0;width:100%;float:left;}
#to-gallery,#media span {margin:0 0 15px;font-size:18px;background:#fff;position:relative;}
#media-count {padding:6px 11px 9px 43px;font-size:18px;color:#262626;font-style:normal;display:block;
background-color:#fff;background-position:-32px -42px;;position:absolute;bottom:0;right:0;}

.notice {margin:0;padding:3px 0 26px;font-size:22px;line-height:25px;color:#262626;background-position:bottom;}
.notice strong {font-weight:normal;}
.notice em {font-style:normal;color:#262626;}

#comments article {padding:0 0 13px;background-position:bottom;overflow:hidden;position:relative;}
#comments h2,.message h3 {padding:0 0 0 5px;font-size:100px;position:absolute;z-index:-1;}
#comments h2 {color:#f2f2f2;top:27px;left:0;display:none;}
#comments section,#comments blockquote {padding:12px 0 0;}
#comments blockquote {clear:both;}
#comments cite {margin:0 0 3px;font-size:18px;line-height:25px;display:block;}
#comments .no-link {text-decoration:none;}
#comments cite a,#comments .no-link {color:#333;}
#comments time {display:block;}

.bad-comment,.trackback {color:#999;}

#paging {padding:18px 0 18px;width:100%;float:left;}
#feedback #paging {background-position:bottom;}
#layout-grid #paging,#layout-list #paging {background-position:0 -100px;}
#paging p {margin:0;padding:8px 0 0;}
#paging .more {margin:0;padding:0;font-size:18px;line-height:25px;text-transform:none;}
#paging strong {font-weight:normal;}

#tabs {margin:0 0 30px;padding:0 0 11px;width:100%;background-position:bottom;float:left;}
#tabs .selected {display:none;}
#tabs em {font-style:normal;}

#layout {display:none;}

#common .entry-content p {font-size:18px;line-height:25px;}
#common address {padding:6px 0 0;font-size:18px;line-height:25px;}
#common address .addr {display:block;}
#common address .street-address {display:block;}
#common address .tel {display:block;}

#notfound article {min-height:320px;}
*/

/* 12.COMPLIMENTARY _________________________________________________________________________________________________ */

/*
#gallery aside,#gallery-portrait aside {width:100%;float:left;}
#gallery aside h2,#gallery-portrait aside h2 {color:#bfbfbf;}

#navigate {margin:0 0 13px;width:100%;float:left;}
#navigate ul {margin:0;padding:10px 0 0;width:100%;float:left;}
#navigate li {margin:0;width:130px;font:10px/12px helvetica,arial,sans-serif;text-transform:uppercase;background-position:0 -220px;}
#navigate .video {background-position:-140px -220px;}
#navigate .audio {background-position:-280px -220px;}
#navigate .previous {float:left;}
#navigate .next {text-align:right;float:right;}
#navigate img {margin:0 0 11px;}
#navigate a {background:#fff;}
#navigate span {margin:0 0 11px;width:130px;height:130px;display:block;}

#embed {margin:0 0 20px;padding:10px 0 0;}
#embed h4 {margin:0 0 12px;font-size:22px;line-height:25px;}
#embed p {margin:0 0 9px;font-size:16px;line-height:20px;color:#7f7f7f;}
#embed-code {margin:0 0 20px;width:100%;color:#999;}

.favorize label,.score {border:1px solid #bfbfbf;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.favorize label {margin:0 5px 0 0;background:#ddd;background:-moz-linear-gradient(top,#fff,#fff 55%,#ddd);
background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#ddd),color-stop(0.55,#fff));
background:linear-gradient(top,#fff,#fff 55%,#ddd);display:block;float:left;}
.favorize fieldset {float:left;}
.favorize input {margin:2px 5px 0 0;float:left;}
.js .favorize input {display:none;}
.favorize label em {border:1px solid #fff;width:51px;height:16px;text-indent:-999em;display:block;overflow:hidden;
float:left;}
.vote-for em {background-position:-2px -162px;}
.vote-against em {background-position:-62px -162px;}
.disabled .vote-against,.disabled .vote-for {cursor:default;}
.disabled .vote-for em {background-position:-2px -182px;}
.disabled .vote-against em {background-position:-62px -182px;}
.favorize .score {border-color:#d9d9d9;padding:4px 0 2px;width:23px;font:bold 11px helvetica,arial,sans-serif;color:#79a500;
text-align:center;background:#f5f5f5;display:block;float:left;}

#team,#team li {width:100%;float:left;}
#team {margin:13px 0 30px;}
#team li {padding:11px 0 0;}
#team img {margin:0 20px 10px 0;float:left;}
#team figcaption {display:inline;}
#team .title {margin:0 0 9px;font-family:MinionProRegular,georgia,serif;font-size:22px;font-variant:small-caps;
line-height:24px;text-transform:lowercase;font-style:normal;display:block;}
#team .fn {margin:0 0 4px;font-size:22px;line-height:24px;font-weight:normal;color:#333;display:block;}
#team .email {margin:0 0 10px;font-size:12px;color:#333;display:block;}
*/

/* 13.CONTENTINFO ___________________________________________________________________________________________________ */

#footer {padding:60px 0 0;}

/*
#footer {position:relative;}
footer h3 {margin:20px 0 0;}

#rss {padding:0 0 19px;width:100%;background-position:bottom;float:left;}
#rss li,#footer nav li,.xoxo li,#tabs li {text-decoration:underline;color:#d9d9d9;}
#rss a,#footer nav a {color:#000;}

#footer nav {margin:0 0 10px;float:left;}

#copyright {width:100%;font:11px/15px helvetica,arial,sans-serif;color:#999;float:left;}
#copyright a {font-weight:bold;color:#999;text-decoration:underline;}

.xoxo {margin:0 0 5px;width:100%;float:left;}
.xoxo li {font-size:11px;letter-spacing:1px;text-transform:uppercase;background-position:-549px -41px;float:left;}
.xoxo a {padding:5px 12px 4px;display:block;}
*/

/* 14.GLOBAL OBJECTS   ______________________________________________________________________________________________ */

.clear:before,.clear:after {content:'\0020';height:0;display:block;overflow:hidden;}
.clear:after {clear:both;}
.clear {zoom:1;}


/* 15.VENDOR-SPECIFIC _______________________________________________________________________________________________ */

body {-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:link {-webkit-tap-highlight-color:rgb(52,158,219);}
::-webkit-selection {background:#d00;text-shadow:none;}
::-moz-selection {background:#d00;color:#fff;text-shadow:none;}
::selection {background:#d00;color:#fff;text-shadow:none;}
input[type=search] {-webkit-appearance:none;}
input[type='search']::-webkit-search-decoration,input[type='search']::-webkit-search-cancel-button {display:none;}
::-webkit-input-placeholder {color:#999;}
input:-moz-placeholder {color:#999;}
div,input,textarea {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;
box-sizing:border-box;}

.ie7 img {-ms-interpolation-mode:bicubic;}

/* Non-semantic helper classes */

/* Image replacement */
.ir {text-indent:-999em;line-height:99em;text-align:left;background-repeat:no-repeat;display:block;
overflow:hidden;direction:ltr;}

/* Hide for screenreaders and visual browsers */
.hidden {display:none;visibility:hidden;}

/* Hide visually */
.v-hidden {margin:-1px;border:0;padding:0;width:1px;height:1px;overflow:hidden;position:absolute;
clip:rect(0 0 0 0);}

/* Allow an element to be focusable via keyboard  */
.v-hidden.focusable:active,.v-hidden.focusable:focus {margin:0;width:auto;height:auto;overflow:visible;position:static;
clip:auto;}

/* Hide but maintain layout */
.invisible {visibility:hidden;}


/* 16.TEMPLATE SPECIFICS ____________________________________________________________________________________________ */
/* 17.MODERNIZR _____________________________________________________________________________________________________ */


/* MEDIA QUERIES */

/*Print _____________________________________________________________________________________________________________ */

@media print {
* {color:black !important;text-shadow:none !important;background:transparent !important;filter:none !important;
-ms-filter:none !important;}

a,a:visited {color:#444 !important;text-decoration:underline;}
a[href]:after {content:' (' attr(href) ')';}
abbr[title]:after {content:' (' attr(title) ')';}
a[href^='javascript:']:after,a[href^='#']:after {content:'';}
pre,blockquote {border:1px solid #999;page-break-inside:avoid;}
thead {display:table-header-group;}
tr,img {page-break-inside:avoid;}
@page {margin:.5cm;}
p,h2,h3 {orphans:3;widows:3;}
h2,h3 {page-break-after:avoid;}
}


/*480px [iPhone 3G/3GS (landscape), Meizu M8 (portrait), Nexus one (portrait)] ______________________________________ */

@media only screen and (min-width:480px) {

/* 1.ROOT ___________________________________________________________________________________________________________ */
/* 2.HEADINGS _______________________________________________________________________________________________________ */
/* 3.TYPOGRAPHY _____________________________________________________________________________________________________ */
/* 4.LINKS __________________________________________________________________________________________________________ */
/* 5.FIGURES & IMAGES  ______________________________________________________________________________________________ */
/* 6.TABLES _________________________________________________________________________________________________________ */
/* 7.FORMS __________________________________________________________________________________________________________ */
/* 8.BANNER _________________________________________________________________________________________________________ */
/* 9.NAVIGATION _____________________________________________________________________________________________________ */
/* 10.CONTENT _______________________________________________________________________________________________________ */
/* 11.MAIN __________________________________________________________________________________________________________ */
/* 12.COMPLIMENTARY _________________________________________________________________________________________________ */
/* 13.CONTENTINFO ___________________________________________________________________________________________________ */
/* 14.GLOBAL OBJECTS   ______________________________________________________________________________________________ */
/* 15.VENDOR-SPECIFIC _______________________________________________________________________________________________ */
/* 16.TEMPLATE SPECIFICS ____________________________________________________________________________________________ */
/* 17.MODERNIZR _____________________________________________________________________________________________________ */

}


/*640px [iPhone 4G (portrait),  Meizu M8 (landscape)] _______________________________________________________________ */

@media only screen and (min-width:640px) {

/* 1.ROOT ___________________________________________________________________________________________________________ */
/* 2.HEADINGS _______________________________________________________________________________________________________ */
/* 3.TYPOGRAPHY _____________________________________________________________________________________________________ */
/* 4.LINKS __________________________________________________________________________________________________________ */
/* 5.FIGURES & IMAGES  ______________________________________________________________________________________________ */
/* 6.TABLES _________________________________________________________________________________________________________ */
/* 7.FORMS __________________________________________________________________________________________________________ */
/* 8.BANNER _________________________________________________________________________________________________________ */
/* 9.NAVIGATION _____________________________________________________________________________________________________ */
/* 10.CONTENT _______________________________________________________________________________________________________ */
/* 11.MAIN __________________________________________________________________________________________________________ */
/* 12.COMPLIMENTARY _________________________________________________________________________________________________ */
/* 13.CONTENTINFO ___________________________________________________________________________________________________ */
/* 14.GLOBAL OBJECTS   ______________________________________________________________________________________________ */
/* 15.VENDOR-SPECIFIC _______________________________________________________________________________________________ */
/* 16.TEMPLATE SPECIFICS ____________________________________________________________________________________________ */
/* 17.MODERNIZR _____________________________________________________________________________________________________ */

}


/*768px [iPad (portrait), iPhone 4G (landscape), Nexus one (landscape)] _____________________________________________ */

@media only screen and (min-width:768px) {


/* 1.ROOT ___________________________________________________________________________________________________________ */
/* 2.HEADINGS _______________________________________________________________________________________________________ */
/* 3.TYPOGRAPHY _____________________________________________________________________________________________________ */
/* 4.LINKS __________________________________________________________________________________________________________ */
/* 5.FIGURES & IMAGES  ______________________________________________________________________________________________ */
/* 6.TABLES _________________________________________________________________________________________________________ */
/* 7.FORMS __________________________________________________________________________________________________________ */
/* 8.BANNER _________________________________________________________________________________________________________ */
/* 9.NAVIGATION _____________________________________________________________________________________________________ */
/* 10.CONTENT _______________________________________________________________________________________________________ */
/* 11.MAIN __________________________________________________________________________________________________________ */
/* 12.COMPLIMENTARY _________________________________________________________________________________________________ */
/* 13.CONTENTINFO ___________________________________________________________________________________________________ */
/* 14.GLOBAL OBJECTS   ______________________________________________________________________________________________ */
/* 15.VENDOR-SPECIFIC _______________________________________________________________________________________________ */
/* 16.TEMPLATE SPECIFICS ____________________________________________________________________________________________ */
/* 17.MODERNIZR _____________________________________________________________________________________________________ */

}


/*992px (1015px) [iPad (landscape), desktop, some laptops] __________________________________________________________ */

@media only screen and (min-width:992px) {


/* 1.ROOT ___________________________________________________________________________________________________________ */
/* 2.HEADINGS _______________________________________________________________________________________________________ */
/* 3.TYPOGRAPHY _____________________________________________________________________________________________________ */
/* 4.LINKS __________________________________________________________________________________________________________ */
/* 5.FIGURES & IMAGES  ______________________________________________________________________________________________ */
/* 6.TABLES _________________________________________________________________________________________________________ */
/* 7.FORMS __________________________________________________________________________________________________________ */
/* 8.BANNER _________________________________________________________________________________________________________ */
/* 9.NAVIGATION _____________________________________________________________________________________________________ */
/* 10.CONTENT _______________________________________________________________________________________________________ */
/* 11.MAIN __________________________________________________________________________________________________________ */
/* 12.COMPLIMENTARY _________________________________________________________________________________________________ */
/* 13.CONTENTINFO ___________________________________________________________________________________________________ */
/* 14.GLOBAL OBJECTS   ______________________________________________________________________________________________ */
/* 15.VENDOR-SPECIFIC _______________________________________________________________________________________________ */
/* 16.TEMPLATE SPECIFICS ____________________________________________________________________________________________ */
/* 17.MODERNIZR _____________________________________________________________________________________________________ */

}


/*1382px [MacBook Pro 15 inches (1440px) ] __________________________________________________________________________ */

@media only screen and (min-width:1382px) {

/* 1.ROOT ___________________________________________________________________________________________________________ */
/* 2.HEADINGS _______________________________________________________________________________________________________ */
/* 3.TYPOGRAPHY _____________________________________________________________________________________________________ */
/* 4.LINKS __________________________________________________________________________________________________________ */
/* 5.FIGURES & IMAGES  ______________________________________________________________________________________________ */
/* 6.TABLES _________________________________________________________________________________________________________ */
/* 7.FORMS __________________________________________________________________________________________________________ */
/* 8.BANNER _________________________________________________________________________________________________________ */
/* 9.NAVIGATION _____________________________________________________________________________________________________ */
/* 10.CONTENT _______________________________________________________________________________________________________ */
/* 11.MAIN __________________________________________________________________________________________________________ */
/* 12.COMPLIMENTARY _________________________________________________________________________________________________ */
/* 13.CONTENTINFO ___________________________________________________________________________________________________ */
/* 14.GLOBAL OBJECTS   ______________________________________________________________________________________________ */
/* 15.VENDOR-SPECIFIC _______________________________________________________________________________________________ */
/* 16.TEMPLATE SPECIFICS ____________________________________________________________________________________________ */
/* 17.MODERNIZR _____________________________________________________________________________________________________ */

}


/*2x ________________________________________________________________________________________________________________ */

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {

/* 1.ROOT ___________________________________________________________________________________________________________ */
/* 2.HEADINGS _______________________________________________________________________________________________________ */
/* 3.TYPOGRAPHY _____________________________________________________________________________________________________ */
/* 4.LINKS __________________________________________________________________________________________________________ */
/* 5.FIGURES & IMAGES  ______________________________________________________________________________________________ */
/* 6.TABLES _________________________________________________________________________________________________________ */
/* 7.FORMS __________________________________________________________________________________________________________ */
/* 8.BANNER _________________________________________________________________________________________________________ */
/* 9.NAVIGATION _____________________________________________________________________________________________________ */
/* 10.CONTENT _______________________________________________________________________________________________________ */
/* 11.MAIN __________________________________________________________________________________________________________ */
/* 12.COMPLIMENTARY _________________________________________________________________________________________________ */
/* 13.CONTENTINFO ___________________________________________________________________________________________________ */
/* 14.GLOBAL OBJECTS   ______________________________________________________________________________________________ */
/* 15.VENDOR-SPECIFIC _______________________________________________________________________________________________ */
/* 16.TEMPLATE SPECIFICS ____________________________________________________________________________________________ */
/* 17.MODERNIZR _____________________________________________________________________________________________________ */

}