/* <start> 00 GLOBAL ================================================================================================ */

/* root */

.adapt,
.features,
.pricing,
.process,
.main {
	width: 954px;
}

.adapt {
	position: relative;
}

/* bgr images +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#purchase a:before {
	background-image: url(../images/bgr/sprite.png);
	background-repeat: no-repeat;
}


/* HEADER +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#header hgroup,
.content,
.updates,
.support,
.copyright {
	padding-left: 0;
	padding-right: 0;
}

#header {
	border-top: 3px solid #191919;

	.adapt {
		margin-top: -3px;
		padding: 0;
	}
}

/* brand */

#brand {
	margin: 0 0 0 -14px;
}

/* navigation +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.primary {
	ul {
		&:before,
		&:after {
			border: none;
		}
	}

	li {
		background-position: -992px 24px;
		width: auto;
	}

	a {
		width: auto;
		height: auto;
		margin: 0 15px 0 20px;
		padding:15px 0 22px;

		&:before,
		&:after {
			border: none;
		}
	}
}

#home,
#features,
#help,
#about {
	a {
		font:600 17px/20px @minion-pro;
		text-align: left;
	}
}

#features,
#help,
#about,
#demo {
	a {
		background: none;
	}
}

#home {
	background:none;

	a {
		margin-left: 0;
		background-position: 0 7px;
		padding-left: 50px;

		&:hover {
			background-position: 0 -49px;
		}
	}
}

#purchase {
	margin-left: 5px;
	background: none;
	float: right;

	a {
		margin: 10px 0 0;
		border: 1px solid #8a0500;
		padding: 13px 0 12px 20px;
		width: 120px;
		font-size: 12px;
		text-transform: uppercase;
		color: #f7f7f7;
		font-weight: bold;
		letter-spacing: .4px;
		background: #b10700;
		display: block;
		border-radius: 40px;
		text-shadow: 0 -1px 1px rgba(0, 0, 0, .7);
		box-shadow: 0 0 2px 3px rgba(0, 0, 0, .2);
		background: #b00e00 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkMGIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MjAzMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, #dd0b00, #820300);
		background: -webkit-gradient(linear, left top, left bottom, from(#dd0b00), to(#820300));
		background: -o-linear-gradient(top, #dd0b00, #820300);
		background: linear-gradient(top, #dd0b00, #820300);

		&:before {
			content: ' ';
			width: 22px;
			height: 18px;
			display: block;
			background-position: -410px -240px;
			position: absolute;
			top: 13px;
			left: 16px;
		}

		&:after {
			border-left: none;
		}
	}
}

#demo {
	padding: 22px 0 0 0;
	font-size: 13px;
	font-weight: normal;
	text-transform: none;
	color: #999;
	background: none;
	display: block;
	float: right;

	a {
		margin: 0;
		border: none;
		color: #09c;
		float: none;
		display: inline;
	}
}


/*

iz 480

.primary {
	float: left;

	ul {
		font-size: 13px;
	}

	li {
		padding: 0 10px 0 15px;
		background-position: -992px 12px;
		text-align: left;
	}

	a {
		margin: 0;
		padding: 8px 0;
		width: auto;
		line-height: 20px;
		letter-spacing: 1.2px;
		background: 100px 100px;
	}

	.selected {
		a {
			margin: -3px 0 0;
		}
	}

	span {
		display: inline;
	}
}
*/

/*
.primary {
	position: relative;
	z-index: 2;

	a {
		&:hover {
			margin: -3px 0 0;
			border-top: 3px solid #666;
		}
	}

	.selected {
		a{
			&:hover {
				border-color: #da221b;
			}
		}
	}
}
*/


/* MAIN +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

h1,
.exposed {
	text-align: left;
}

/* content */

.default {
	padding-right: 225px;
	padding-bottom: 26px;
	width: 720px;
}

.main h1,
.main .exposed,
.help-list .main h1,
.help-single .main h3,
.about .main h1,
.tearms .content h1 {
	margin: 77px 0 45px;
}


/* FOOTER +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#footer {
	padding: 0 0 40px;
}

/* newsletter */

.updates {
	margin: 0 0 28px;
	padding: 27px 0 45px;
	width: 100%;
	float: left;
	background: #fff;
}

.subscription {
	margin: 0;
	border: none;
	width: 48%;
	float: left;
}

/* connect */

.connect {
	width: 48%;
	float: right;
}

.support {
	margin: 0;
	width: 498px;
	float: left;

	.col {
		padding-left: 0;
	}
}

.support .col,
.support .col:first-child {
	background-position: 148px -540px;
}

/* copyright */

.copyright {
	background-position: 326px -895px;
	float: right;

	p {
		margin: 0 0 12px;
		padding: 3px 90px 0 0;
		text-align: right;
	}
}

/* </end> 00 GLOBAL ================================================================================================= */



/* PAGES ============================================================================================================ */



/* <start> 01 HOME PAGE ============================================================================================= */

/* HEADER +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.ie7 {
	.home{
		#header {
			.adapt {
				width: 954px;
				float: none;
			}
		}
	}
}

/* brand */

.home {
	#brand {
		padding: 0 15px;
	}
}


/* MAIN +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* features */

.features,
.pricing {
	margin: 0 auto;
	float: none;
}

.pricing {
	figure {
		position: static;
	}
}

.goodies {
	margin: 0 0 46px -30px;
}

.features section,
.abilities li,
#platforms,
#photography,
#gallery,
#machine {
	margin: 0 0 0 30px;
	padding: 0 0 30px 82px;
	width: 216px;
	height: auto;
	float: left;
}

#updates,
#customizable,
#admin,
#colophon {
	float: left;
}

/* abilities */

.abilities {
	li {
		margin-bottom: 10px;
		padding: 0 0 0 82px;
	}
}


/* ASIDE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.price-tag {
	margin-right: 68px;
}

.pricing {
	float: none;
}

/* </end> 01 HOME PAGE ============================================================================================== */



/* <start> 02 PURCHASE ============================================================================================== */

/* MAIN +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* process */

.update {
	.process {
		padding-top: 65px;
	}
}

.process {
	header {
		margin: 0 0 11px 2px;
		padding: 0;
		width: 490px;
		float: left;
	}
}

.process figure,
.domains-no h1 {
	background-position: 0 bottom;
}

.process {
	.tablets {
		margin: 0 0 15px;
		width: 960px;
		height: 10px;
		position: relative;

		img {
			position: absolute;
			top: -212px;
			right: 15px;
		}
	}

	ol {
		width: 463px;
	}
}

/* buy-form */

.order {
	width: 850px;
	float: none;

	.action {
		margin: 13px 30px 0 0;
		float: right;
	}

	.submit {
		padding: 19px 0 0;
	}
}

.licenses {
	.item {
		margin: 0 0 18px;
		width: 444px;
	}

	.price-c {
		width: 78px;
	}

	.licenses-c {
		width: 120px;
	}

	.total {
		width: 130px;
		float: right;
	}
}

.paypal-info {
	width: 70%;

	p {
		margin: 16px 0 0;
	}
}

.code {
	margin: 0;
}


/* errors */

.message {
	width: 848px;
	float: left;
}

/* transaction */

.transaction {
	.action {
		img {
			margin: 0 0 0 10px;
		}
	}
}

/* save */

.save {
	.info {
		width: 55%;
		float: left;
	}
}


/* FOOTER +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.cart .copyright,
.domains .copyright {
	background-position: 326px -1596px;
}

/* </end> 02 PURCHASE =============================================================================================== */



/* <start> 03 SUPPORT =============================================================================================== */

/* MAIN +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.level {
	h4 {
		padding-top: 35px;
		float: left;
	}

	.notice {
		clear: both;
	}

	.group {
		margin: 0 0 23px;
	}
}

.group {
	h3 {
		margin-top: 3px;
		width: 20%;
		float: right;
	}

	ol {
		width: 75%;
		float: left;
	}
}

/* read */

.read {
	width: 710px;
	float: left;

	h1 {
		margin: 0 0 26px;
	}
}

/* ASIDE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.related {
	margin-top: 6px;
	border-top: none;
	border-left: 1px solid #d9d9d9;
	padding: 0 0 0 18px;
	width: 207px;
	float: right;

	.questions {
		margin: 0;
	}

	h4 {
		margin: -2px 0 7px;
		font-size: 18px;
		line-height: 25px;
		background: none;

		em {
			background: none;
		}
	}
}

/* </end> 03 SUPPORT ================================================================================================ */

/* <start> 04 ABOUT ================================================================================================= */

/* MAIN +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.about {
	.info {
		width: 450px;
		float: left;
	}
}

/* makers */
.makers {
	margin: 0 -10px 0 0;
	width: 492px;
	float: right;
}

#dust {
	position: absolute;
	top: -70px;
	left: auto;
	right: -10px;
}

/* </end> 04 ABOUT ================================================================================================== */

/* <start> 05 DOMAINS =============================================================================================== */

/* MAIN +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.domains-no {
	float: none;

	h1 {
		margin: 77px 0 17px;
		padding: 0 210px 18px 0;
		white-space: nowrap;
		float: left;
	}
}

#domains,
.code {
	width: 406px;
	float: right;
}

.ie8 {
	#domains {
		padding: 7px 0 0;
	}
}

#domains input,
.promo input {
	width: 328px;
	float: right;
}

.ie7 {
	#domains {
		input {
			width: 316px;
		}
	}

	#licenses-c {
		margin-top: -5px;
	}
}

.manage {
	#domains {
		width: 48%;
		float: left;

		input {
			width: 80.4%;
		}
	}

	form {
		.info {
			margin: 0 26% 0 0;
			width: 22%;
			float: right;
		}
	}

	.submit {
		padding: 10px 0;
		width: 48%;
	}

	.info {
		p {
			margin-top: 0;
		}
	}
}

.domains {
	.process {
		figure {
			right: 0;
		}
	}
}

/* </end> 05 DOMAINS ================================================================================================ */



/* <start> 06 404 =================================================================================================== */

/* MAIN +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.lost {
	h1 {
		text-align: center;
	}
}

/* </end> 06 404 ==================================================================================================== */



/* <start> 07 FEATURES ============================================================================================== */

#features-bar {
	//top: 0;
}

.features-nav {
	margin-left: -477px;
	width: 954px;
	position: absolute;
	top:0;
	left: 50%;
}

.off-canvas {

	.adapt {
		position: static;
		overflow: visible;
	}

	.content {
		//margin-top: 122px;

		.img-top-right {
			margin: 3px 0 5px;
			float: right;

			img {
				max-width: 100%;
			}
		}

		.img-right,
		.img-left {
			img {
				max-width: 400px;
			}
		}

		.img-right {
			padding: 0 30px 0 60px;
			float: right;
		}

		.img-left {
			padding: 0 60px 0 30px;
			float: left;
		}

		section {
			padding: 0 0 31px;
			width: 100%;
			float: left;
		}
	}

	.behave {
		float: left;
	}

	.main {
		h1 {
			margin: 35px auto 33px;
		}

		h2 {
			clear: both;
		}

		.lead {

		}
	}
}


/* </end> 07 FEATURES =============================================================================================== */