/*
  _  _  ___ ___ _   _  ___
 |_ | \  |   | / \ |_)  |   /\  |
 |_ |_/ _|_  | \_/ | \ _|_ /~~\ |_

 File: editorial-custom.css
 Version: 1.1 (XX/20XX)
 Author: 

 Based on: 320 and Up boilerplate extension
 
 */

/* 1.ROOT ___________________________________________________________________________________________________________ */
/* 2.HEADINGS _______________________________________________________________________________________________________ */
/* 3.TYPOGRAPHY _____________________________________________________________________________________________________ */
/* 4.LINKS __________________________________________________________________________________________________________ */
/* 5.FIGURES & IMAGES  ______________________________________________________________________________________________ */
/* 6.TABLES _________________________________________________________________________________________________________ */
/* 7.FORMS __________________________________________________________________________________________________________ */
/* 8.BANNER _________________________________________________________________________________________________________ */
/* 9.NAVIGATION _____________________________________________________________________________________________________ */
/* 10.CONTENT _______________________________________________________________________________________________________ */
/* 11.MAIN __________________________________________________________________________________________________________ */
/* 12.COMPLIMENTARY _________________________________________________________________________________________________ */
/* 13.CONTENTINFO ___________________________________________________________________________________________________ */
/* 14.GLOBAL OBJECTS   ______________________________________________________________________________________________ */
/* 15.VENDOR-SPECIFIC _______________________________________________________________________________________________ */
/* 16.TEMPLATE SPECIFICS ____________________________________________________________________________________________ */
/* 17.MODERNIZR _____________________________________________________________________________________________________ */


/* 1.ROOT ___________________________________________________________________________________________________________ */
/* 2.HEADINGS _______________________________________________________________________________________________________ */
/* 3.TYPOGRAPHY _____________________________________________________________________________________________________ */

h1 em,caption,#comments-form li em,.qa em,.message li,#errors .lead,#primary .selected a,.featured footer a,
#exposed footer a,.inside #single footer a,.inside-portrait #single footer a,.notice strong,#paging strong,#navigate a,
#team .title,footer h3,.notfound h1,.widget h4 {color:#d00;}


/* 4.LINKS __________________________________________________________________________________________________________ */
/* 5.FIGURES & IMAGES  ______________________________________________________________________________________________ */
/* 6.TABLES _________________________________________________________________________________________________________ */
/* 7.FORMS __________________________________________________________________________________________________________ */

#comments-form .error input,.error textarea,comments-form .error textarea {border-color:#d00;}


/* 8.BANNER _________________________________________________________________________________________________________ */
/* 9.NAVIGATION _____________________________________________________________________________________________________ */
/* 10.CONTENT _______________________________________________________________________________________________________ */
/* 11.MAIN __________________________________________________________________________________________________________ */
/* 12.COMPLIMENTARY _________________________________________________________________________________________________ */

.favorize .negative {color:#d00;}
.favorize .coin.negative {border-color:#d00;background:#d00;}


/* 13.CONTENTINFO ___________________________________________________________________________________________________ */

.widget h4 .rsswidget {color:#d00;}


/* 14.GLOBAL OBJECTS   ______________________________________________________________________________________________ */
/* 15.VENDOR-SPECIFIC _______________________________________________________________________________________________ */

::-webkit-selection {background:#d00;}
::-moz-selection {background:#d00;}
::selection {background:#d00;}


/* 16.TEMPLATE SPECIFICS ____________________________________________________________________________________________ */
/* 17.MODERNIZR _____________________________________________________________________________________________________ */


/* MEDIA QUERIES */


/*480px [iPhone 3G/3GS (landscape), Meizu M8 (portrait), Nexus one (portrait)] ______________________________________ */

@media only screen and (min-width:480px) {

/* 1.ROOT ___________________________________________________________________________________________________________ */
/* 2.HEADINGS _______________________________________________________________________________________________________ */
/* 3.TYPOGRAPHY _____________________________________________________________________________________________________ */
/* 4.LINKS __________________________________________________________________________________________________________ */
/* 5.FIGURES & IMAGES  ______________________________________________________________________________________________ */
/* 6.TABLES _________________________________________________________________________________________________________ */
/* 7.FORMS __________________________________________________________________________________________________________ */
/* 8.BANNER _________________________________________________________________________________________________________ */
/* 9.NAVIGATION _____________________________________________________________________________________________________ */
/* 10.CONTENT _______________________________________________________________________________________________________ */
/* 11.MAIN __________________________________________________________________________________________________________ */
/* 12.COMPLIMENTARY _________________________________________________________________________________________________ */
/* 13.CONTENTINFO ___________________________________________________________________________________________________ */
/* 14.GLOBAL OBJECTS   ______________________________________________________________________________________________ */
/* 15.VENDOR-SPECIFIC _______________________________________________________________________________________________ */
/* 16.TEMPLATE SPECIFICS ____________________________________________________________________________________________ */
/* 17.MODERNIZR _____________________________________________________________________________________________________ */


}


/*640px [iPhone 4G (portrait),  Meizu M8 (landscape)] _______________________________________________________________ */

@media only screen and (min-width:640px) {

/* 1.ROOT ___________________________________________________________________________________________________________ */
/* 2.HEADINGS _______________________________________________________________________________________________________ */
/* 3.TYPOGRAPHY _____________________________________________________________________________________________________ */
/* 4.LINKS __________________________________________________________________________________________________________ */
/* 5.FIGURES & IMAGES  ______________________________________________________________________________________________ */
/* 6.TABLES _________________________________________________________________________________________________________ */
/* 7.FORMS __________________________________________________________________________________________________________ */
/* 8.BANNER _________________________________________________________________________________________________________ */
/* 9.NAVIGATION _____________________________________________________________________________________________________ */
/* 10.CONTENT _______________________________________________________________________________________________________ */
/* 11.MAIN __________________________________________________________________________________________________________ */
/* 12.COMPLIMENTARY _________________________________________________________________________________________________ */
/* 13.CONTENTINFO ___________________________________________________________________________________________________ */
/* 14.GLOBAL OBJECTS   ______________________________________________________________________________________________ */
/* 15.VENDOR-SPECIFIC _______________________________________________________________________________________________ */
/* 16.TEMPLATE SPECIFICS ____________________________________________________________________________________________ */
/* 17.MODERNIZR _____________________________________________________________________________________________________ */


}


/*768px [iPad (portrait), iPhone 4G (landscape), Nexus one (landscape)] _____________________________________________ */

@media only screen and (min-width:768px) {

/* 1.ROOT ___________________________________________________________________________________________________________ */
/* 2.HEADINGS _______________________________________________________________________________________________________ */
/* 3.TYPOGRAPHY _____________________________________________________________________________________________________ */
/* 4.LINKS __________________________________________________________________________________________________________ */
/* 5.FIGURES & IMAGES  ______________________________________________________________________________________________ */
/* 6.TABLES _________________________________________________________________________________________________________ */
/* 7.FORMS __________________________________________________________________________________________________________ */
/* 8.BANNER _________________________________________________________________________________________________________ */
/* 9.NAVIGATION _____________________________________________________________________________________________________ */
/* 10.CONTENT _______________________________________________________________________________________________________ */
/* 11.MAIN __________________________________________________________________________________________________________ */
/* 12.COMPLIMENTARY _________________________________________________________________________________________________ */
/* 13.CONTENTINFO ___________________________________________________________________________________________________ */
/* 14.GLOBAL OBJECTS   ______________________________________________________________________________________________ */
/* 15.VENDOR-SPECIFIC _______________________________________________________________________________________________ */
/* 16.TEMPLATE SPECIFICS ____________________________________________________________________________________________ */
/* 17.MODERNIZR _____________________________________________________________________________________________________ */

}


/*992px (1015px) [iPad (landscape), desktop, some laptops] __________________________________________________________ */

@media only screen and (min-width:992px) {

/* 1.ROOT ___________________________________________________________________________________________________________ */
/* 2.HEADINGS _______________________________________________________________________________________________________ */
/* 3.TYPOGRAPHY _____________________________________________________________________________________________________ */
/* 4.LINKS __________________________________________________________________________________________________________ */
/* 5.FIGURES & IMAGES  ______________________________________________________________________________________________ */
/* 6.TABLES _________________________________________________________________________________________________________ */
/* 7.FORMS __________________________________________________________________________________________________________ */
/* 8.BANNER _________________________________________________________________________________________________________ */
/* 9.NAVIGATION _____________________________________________________________________________________________________ */
/* 10.CONTENT _______________________________________________________________________________________________________ */
/* 11.MAIN __________________________________________________________________________________________________________ */
/* 12.COMPLIMENTARY _________________________________________________________________________________________________ */
/* 13.CONTENTINFO ___________________________________________________________________________________________________ */
/* 14.GLOBAL OBJECTS   ______________________________________________________________________________________________ */
/* 15.VENDOR-SPECIFIC _______________________________________________________________________________________________ */
/* 16.TEMPLATE SPECIFICS ____________________________________________________________________________________________ */
/* 17.MODERNIZR _____________________________________________________________________________________________________ */


}


/*1382px [MacBook Pro 15 inches (1440px) ] __________________________________________________________________________ */

@media only screen and (min-width:1382px) {

/* 1.ROOT ___________________________________________________________________________________________________________ */
/* 2.HEADINGS _______________________________________________________________________________________________________ */
/* 3.TYPOGRAPHY _____________________________________________________________________________________________________ */
/* 4.LINKS __________________________________________________________________________________________________________ */
/* 5.FIGURES & IMAGES  ______________________________________________________________________________________________ */
/* 6.TABLES _________________________________________________________________________________________________________ */
/* 7.FORMS __________________________________________________________________________________________________________ */
/* 8.BANNER _________________________________________________________________________________________________________ */
/* 9.NAVIGATION _____________________________________________________________________________________________________ */
/* 10.CONTENT _______________________________________________________________________________________________________ */
/* 11.MAIN __________________________________________________________________________________________________________ */
/* 12.COMPLIMENTARY _________________________________________________________________________________________________ */
/* 13.CONTENTINFO ___________________________________________________________________________________________________ */
/* 14.GLOBAL OBJECTS   ______________________________________________________________________________________________ */
/* 15.VENDOR-SPECIFIC _______________________________________________________________________________________________ */
/* 16.TEMPLATE SPECIFICS ____________________________________________________________________________________________ */
/* 17.MODERNIZR _____________________________________________________________________________________________________ */

}


/*2x ________________________________________________________________________________________________________________ */

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {

/* 1.ROOT ___________________________________________________________________________________________________________ */
/* 2.HEADINGS _______________________________________________________________________________________________________ */
/* 3.TYPOGRAPHY _____________________________________________________________________________________________________ */
/* 4.LINKS __________________________________________________________________________________________________________ */
/* 5.FIGURES & IMAGES  ______________________________________________________________________________________________ */
/* 6.TABLES _________________________________________________________________________________________________________ */
/* 7.FORMS __________________________________________________________________________________________________________ */
/* 8.BANNER _________________________________________________________________________________________________________ */
/* 9.NAVIGATION _____________________________________________________________________________________________________ */
/* 10.CONTENT _______________________________________________________________________________________________________ */
/* 11.MAIN __________________________________________________________________________________________________________ */
/* 12.COMPLIMENTARY _________________________________________________________________________________________________ */
/* 13.CONTENTINFO ___________________________________________________________________________________________________ */
/* 14.GLOBAL OBJECTS   ______________________________________________________________________________________________ */
/* 15.VENDOR-SPECIFIC _______________________________________________________________________________________________ */
/* 16.TEMPLATE SPECIFICS ____________________________________________________________________________________________ */
/* 17.MODERNIZR _____________________________________________________________________________________________________ */

}