
/*
	Thanks for stopping by on this side of page.
	Created: Feb 2010
	Changed: Jun 2010 (ver 0.4)
	For L&F written by matjazkorosec.com
*/


html,body,h1,h3,h4,p,dd {margin:0;}
html {overflow-y:scroll;}

h1,.colofon h2 {padding:.2em 0 .285em;width:100%;font-size:6.4em;font-weight:normal;}
h2 {margin:0 0 .55em;font-size:3.6em;font-weight:normal;}
h3 {padding:0 0 .75em;font-size:1.25em;line-height:1.25em;background:#fff;}
h4 {font-size:8em;font-weight:normal;color:#f2f2f2;position:absolute;z-index:-1;}

p,li {font-size:1.6em;}
ul,fieldset {margin:0;padding:0;}
ul {list-style:none;}
img,fieldset {border:none;}
em {font-style:normal;}
label,input,textarea {font-size:1.2em;color:#a9a9a9;}
label,.submit {cursor:pointer;}

a {color:#000;text-decoration:none;}


body {font:62.5% georgia,'times new roman',times,serif;color:#333;text-align:center;background:#fff;}


label,input,textarea,.news dl,.article dl,.article .photo,#comments .published,.colofon .title,.comments-count,
.form-messages h5,.form-messages li,.form-messages p,.sitemap #main ul p,.copyright,.show-all,#cee_title
{font-family:'trebuchet ms',arial,helvetica,sans-serif;}

.skip p,.news dt,.news dd,.moved,.manifesto .entry-info,.colofon .org {text-indent:-9999px;position:absolute;}
.hide {display:none;}

#header,.nav,.nav li,.tabs,.tabs a,.publish,#footer,.rss,.rss li,#comments-form .submit,.comments-count .link,
.form-messages .ok,.paging .prev,.paging .next,.paging li,.paging .last a,.social-networks,.support #main ul li,
.primary,.primary li,.show-all,#cee_logo,#cee_next,#cee_next span,#cee_prev,#cee_prev span,#cee_closeBtn,
.article .entry-content li {background:url(../images/bgr/sprite.png) no-repeat;}

#header,.article dl,#comments,#comments li,.paging,.section,.copyright,.error-404 #footer,#controls,.fb-ilike
{background:url(../images/bgr/line.gif) repeat-x;}

.legend {background:url(../images/bgr/line-gray.gif) repeat-x;}

.article .hentry,.sitemap #main,.error-404 #main {background:url(../images/bgr/support.png) repeat-y;}

.news {background:url(../images/bgr/pattern.png);}



#header,#main,.section,#footer {margin:0 auto;width:960px;text-align:left;position:relative;overflow:hidden;}
#header {background-position:0 94px;}

#header .vcard {margin:38px 0 32px;width:201px;height:40px;overflow:hidden;float:left;}
#header .vcard a {height:40px;overflow:hidden;display:block;}

#search fieldset {position:absolute;top:40px;right:0;}
#search legend,#search label {display:none;}
#search .input {padding:.4em 30px .3em 5px;width:298px;}
#search .submit {width:17px;height:16px;position:absolute;top:6px;right:7px;}

.nav {margin:0 0 10px;padding:0 0 28px;width:100%;background-position:0 bottom;float:left;}
.nav li,.rss li,.paging .prev,.paging .next,.primary li,#cee_next,#cee_prev,#cee_closeBtn {padding:0 0 0 11px;
 width:149px;font-size:1.4em;letter-spacing:.1em;text-transform:uppercase;float:left;}
.nav .selected {background-position:0 -80px;}
.nav .selected a {color:#d00;}


.home #header {background-position:0 124px;}
.home #header .vcard {margin:46px 0 24px;padding:0;width:356px;height:70px;}
.home #header .vcard a {height:70px;}
.home #search fieldset {top:70px;}


#header:after,#main:after,#footer:after {height:0;content:'.';display:	block;clear:both;visibility:hidden;}




#main {padding:0 0 3em;}

.news {width:960px;float:left;}
.news li {margin:0 16px 16px 0;width:228px;height:484px;min-height:484px;float:left;overflow:hidden;}
.news h2 {margin:.38em 0 .63em;font-size:2.5em;line-height:1.125em;font-weight:bold;}
.news h3 a {margin:0 2px;color:#000;display:block;}
.news img {margin:0 -2px 14px;border:5px solid #b3b3b3;display:block;}
.news a:hover img {border-color:#d00;}
.news dl,.article dl {font-size:1em;}
.article p a {color:#d00;text-decoration:underline}
.article p a span {color:#333;}
.news dl {position:absolute;overflow:hidden;}
.news p {margin:0;padding:0 2px;font-size:.875em;line-height:1.428em;color:#7f7f7f;background:#fff;}

.news .exposed {margin-right:0;padding:8px 20px 8px 8px;width:932px;height:444px;min-height:444px;background:#333;
 position:relative;}
.news .exposed img {margin:0 22px 0 0;border:none;float:left;}
.news .exposed dl,.article dl {margin:0 0 .6em;width:317px;color:#a5a5a5;text-indent:0;float:left;position:static;}
.news .exposed dt,.article dt,.news .exposed dd,.article dd {height:15px;min-height:15px;text-indent:0;float:left;
 position:static;}
.news .exposed dt,.article dt {padding:0 10px 0 0;width:70px;font-size:.625em;line-height:15px;text-transform:uppercase;}
.news .exposed dd,.article dd {font-size:.688em;width:237px;}
.news .exposed dd a,.article dd a {color:#a5a5a5;}
.news .exposed p {margin:0;font-size:1.125em;line-height:1.111em;color:#fff;font-style:italic;background:#333;}
.news .exposed .frame {padding:5px;display:block;position:absolute;top:8px;left:8px;}
.news .exposed .shown {padding:0;border:5px solid #d00;}

.news .last {margin-right:0;}


.paging {padding:2.3em 0 0;width:100%;text-align:center;float:left;position:relative;}

.paging .prev,.paging .next {width:auto;}
.paging .prev,#cee_closeBtn {padding:0 0 0 34px;background-position:0 -397px;}
.paging .next {padding:0 34px 0 0;background-position:right -549px;}
.paging .prev {position:absolute;top:2.35em;left:0;}
.paging .next {position:absolute;top:2.35em;right:0;}

.paging .disabled {color:#7f7f7f;cursor:text;}
.paging .prev.disabled {background-position:0 -356px;}
.paging .next.disabled {background-position:right -356px;}

.paging ul {margin:0 0 4.4em;}
.paging li {font-size:2.4em;color:#d00;display:inline;background-position:right -466px;}
.paging li a {margin:0 12px;border-bottom:1px solid #d00;padding:0 0 .05em;}
.paging .selected a {border:none;color:#d00;cursor:text;}
.paging .last a {margin:0;border:none;padding:0 12px .05em 45px;background-position:7px -466px;}
.paging .last span {border-bottom:1px solid #d00;}

.search-results {padding:.38em 0 .45em;font-size:3.6em;}
.search-results em:before {content:'\201c';color:#333;}
.search-results em {color:#d00;}
.search-results em:after {content:'\201d';color:#333;}


.portrait li {margin:0 0 16px 16px;}
.portrait .exposed {margin:0;padding:8px;width:456px;height:984px;min-height:984px;}
.portrait .exposed h2,.portrait .exposed dl {padding:0 10px;width:436px;}
.portrait .exposed img {margin:0 0 30px;}
.portrait .exposed dd {width:356px;}
.portrait .exposed p {padding:0 10px;}
.portrait .exposed .more {margin:1.7em 0 0;font-size:.875em;line-height:2em;font-weight:bold;font-style:normal;}
.portrait .exposed .more a {color:#fff;}

.article {margin:0 0 2em;width:100%;float:left;}
.article .hentry {width:100%;background-position:-3843px 2px;background-repeat:no-repeat;float:left;}
.article .detail {width:590px;}
.article .entry-summary {margin:0 0 1.05em;font-size:2.4em;line-height:1.25em;color:#d00;font-style:italic;position:relative;}
.article .photo {margin:.4em 0 1.3em 30px;padding:8px;width:577px;font-size:1.2em;line-height:1.25em;color:#999;background:#333;float:right;}
.article .photo li {display:none;float:left;}
.article .photo .active {display:block;}
.article .photo img {margin:0 0 .9em;display:block;}
.article .photo p {font-size:1em;}
.article .photo .description {padding:.5em 0 .8em;}
.article .legend {margin:0 0 .7em;padding:0 0 .6em;width:100%;background-position:bottom;float:left;}
.article .show-all {padding:0 16px 0 0;color:#fff;text-decoration:none;background-position:right -577px;float:right;}
.article .entry-content {margin-bottom:-2.1em;}
.article .entry-content p,.manifesto .detail p {margin:0 0 1.3em;line-height:1.25em;}
.article dl {margin:9px 0 3em 20px;padding:20px 0 0;width:338px;float:right;}
.article dt {width:75px;font-size:1em;}
.article dd {width:253px;font-size:1.1em;}
.article .entry-content ul {margin:0 0 1.3em;}
.article .entry-content li {padding:0 0 .3em 14px;line-height:1.25em;background-position:-150px -353px;}

q {padding:.7em 30px .5em 0;width:160px;font-size:1.375em;line-height:1.136em;font-weight:bold;display:block;float:left;}
q:before {content:'\201c';}
q:after {content:'\201d';}

.portrait-photo {background-position:-960px 0;}
.portrait-photo .hentry {background-position:-4800px 0;}
.portrait-photo .photo {width:456px;float:right;}
.portrait-photo dl {margin:.4em 0 3em 0;width:455px;float:left;}
.portrait-photo .detail {width:455px;}
.portrait-photo dd {width:370px;}

.fb-ilike {margin:1.4em 0 0;padding:2em 0 0;width:100%;float:left;}


#comments {margin:.9em 0 0;padding:0 0 .1em;width:100%;background-position:bottom;float:left;}
#comments li {width:100%;float:left;overflow:hidden;position:relative;}
#comments h4 {font-size:10em;line-height:.89em;color:#f2f2f2;left:0;right:0;}
#comments h4 em {text-indent:-9999px;position:absolute;}
#comments p {padding:1.6em 0 1.5em 55px;width:520px;font-size:1em;line-height:1.25em;float:left;}
#comments dl {padding:1.55em 55px 0 0;width:280px;float:right;}
#comments dt {display:none;}
#comments .author,.colofon li em {margin:0 0 .3em;font-size:1.125em;font-weight:bold;}
#comments .published,.colofon .title {font-size:.75em;color:#999;}

.comments-count {margin:0 0 3.95em;border-bottom:1px solid #808080;padding:1.1em 0 1.2em;width:100%;font-size:1.2em;
 color:#999;float:left;}
.comments-count p {margin:0 0 0 55px;font-size:1em;display:inline;float:left;}
.comments-count .link {background-position:right -304px;float:right;}
.comments-count .link a {padding:0 22px 0 0;background-position:right -304px;display:block;}

.form-messages {margin:1.7em 0 2.9em;border:1px solid #ccc;padding:.9em 15px;}
.form-messages h5 {margin:0;font-size:1.4em;line-height:1.428em;}
.form-messages ol {margin:0;padding:0 0 0 20px;}
.form-messages li {font-size:1.4em;line-height:1.428em;}
.form-messages p {font-size:1.4em;color:#000;}
.form-messages .ok {padding:0 0 0 28px;background-position:0 -305px;}
.errors {color:#d00;background:#f2f2f2;}

.speak {margin:0 0 .17em;}
#comments-form legend {display:none;}
#comments-form .submit {margin:-.55em 181px 0 0;border:none;width:154px;height:44px;
 font:1.4em georgia,'times new roman',times,serif;letter-spacing:.1em;color:#000;text-transform:uppercase;
 background-position:-650px -240px;float:right;}

.elements li {margin:0 0 .5em;font-size:1em;}
.elements label {margin:0 0 .5em;color:#000;}
.elements input,.elements textarea {padding:.4em 5px .3em;}
.elements .area {margin:0 0 2.4em;float:left;}
.elements .area label {display:none;}
.elements .area textarea {width:580px;}
.elements .text {width:331px;}
.elements .text label {width:100%;display:block;}
.elements .text input {width:315px;}
.elements .text {float:right;}
.elements .captcha {margin:0 0 3.4em;width:590px;float:left;}
.elements .captcha label {padding:0 10px 0 0;line-height:2.5em;color:#999;float:left;}
.elements .captcha .securitiy-code {font-size:1.8em;line-height:1.667em;color:#333;float:left;}
.elements .captcha label strong {font-weight:normal;color:#333;}
.elements .captcha input {width:200px;float:right;}


.section {margin:0 0 4.1em;height:55px;background-position:0 bottom;float:left;}

.tabs {height:43px;width:100%;background-position:0 -190px;}
.tabs li {margin:0 2px 0 0;font-size:1.4em;letter-spacing:.1em;text-transform:uppercase;float:left;}
.tabs .article-selected a {background-position:0 -240px;}
.tabs .comments-selected a {background-position:-320px -240px;}
.tabs a {padding:0 14px;width:290px;line-height:43px;color:#000;background-position:0 -700px;display:block;
 position:relative;}
.tabs em {color:#999;position:absolute;right:11px;top:0;}

.publish {background-position:-790px -140px;position:absolute;top:14px;right:0;}
.publish li,.social-networks li {margin:0 0 0 10px;display:inline;float:left;}
.publish a,.social-networks a {width:24px;height:24px;display:block;overflow:hidden;text-indent:-9999px;}


.home h2,h3,.rss li,#global li,.news li p.more,#main .link,.colofon li a,.sitemap h2 {color:#d00;
 text-decoration:underline;}
.hover {color:#000;}
.home h2 a,.home h2.hover {color:#fff;}
.home h2 a:hover,h3 a:hover,.home h2.hover .hover {color:#d00;}

.manifesto h1 {margin:.4em 0 .4em;width:460px;position:absolute;top:0;left:0;}
.manifesto h2 {margin:.4em 0 .11em;}
.manifesto .entry-content {display:inline;}
.manifesto .detail {margin:13.9em 0 0;}

.colofon {width:460px;float:right;}
.colofon ul {width:460px;float:left;}
.colofon li {margin:0 0 .85em;width:220px;float:right;}
.colofon .first {float:left;}
.colofon em {color:#333;}
.colofon li a,.colofon li em,.colofon .title {display:block;}


.sitemap #header,.error-404 #header {overflow:visible;}
.sitemap #header .vcard,.error-404 #header .vcard {width:201px;height:40px;overflow:hidden;position:absolute;top:256px;
 left:1px;}
.sitemap #header img,.error-404 #header img {float:left;}
.sitemap #main {background-position:-1920px 0;background-repeat:no-repeat;}
.sitemap h1,.error-404 h1 {margin:1em 0 .275em 320px;font-size:12em;font-style:italic;}
.sitemap #main ul {margin:0 0 6em 276px;}
.sitemap #main ul li {margin:0 0 1.8em;padding:0 0 0 44px;font-size:1em;background-position:-937px -534px;}
.sitemap #main ul p {font-size:1.2em;;color:#999;}
.sitemap h2 {margin:0 0 .27em;}
.sitemap h2 a {color:#333;}

.error-404 #header .vcard {top:266px;}
.error-404 #main {background-position:-2880px 0;background-repeat:no-repeat;}
.error-404 h1 {margin-bottom:.22em;color:#d00;}
.error-404 p {margin:0 0 1em 318px;width:500px;font-size:2.4em;}
.error-404 #search fieldset {margin:0 0 3.8em 318px;width:320px;position:relative;top:0;}
.error-404 #search .submit {top:1em;right:1em;}
.error-404 .makeup {padding:.5em;background:#e6e6e6;overflow:hidden;}
.error-404 #footer {padding:1.6em 0 0;}




#footer {padding:0 0 2em;background-position:0 -780px;}
#footer h4 {font-style:italic;top:.131em;left:.03em;}

.rss {padding:57px 0 27px 46px;background-position:-600px 24px;float:left;}
.rss li,#footer .nav li {margin:0 0 0 8px;width:auto;font-size:1.2em;background-position:0 -58px;}
.rss .first,#footer .nav .first {margin:0;padding:0;background:none;}

#footer .nav {padding:58px 0 0;width:auto;background:none;float:right;}
#footer .nav li {font-weight:bold;}

.copyright {padding:17px 0 0;width:100%;font-size:1.1em;color:#7f7f7f;}
html>body .copyright {float:left;}
.copyright strong {color:#ccc;text-decoration:underline;}
.copyright a {font-weight:bold;color:#7f7f7f;}

.social-networks {background-position:-590px -140px;position:absolute;top:114px;right:0;}




#cee_box {height:auto !important;}
#cee_img {margin-top:60px;}
#cee_load {margin:-25px 0 0 -25px;width:50px;height:50px;background:url(../images/bgr/loader.gif) no-repeat center center;
 display:none;}
#controls {margin-left:-480px;width:960px;height:50px;line-height:60px;text-align:right;background-position:bottom;
 position:absolute;top:0;left:50%;z-index:103;}
#cee_closeBtn {width:19px;height:19px;white-space:nowrap;line-height:1em;position:absolute;top:22px;left:0;}
#cee_logo {width:126px;height:26px;background-position:0 -550px;display:block;position:absolute;top:15px;left:419px;}
#cee_prev {padding:0 0 0 16px;background-position:left -607px;float:none;}
#cee_count {padding:0 10px;font-size:1.4em;letter-spacing:.1em;color:#d00;display:inline;}
#cee_next {padding:0 16px 0 0;background-position:right -607px;float:none;}
#cee_next span {padding:0 0 0 10px;background-position:left -627px;}
#cee_prev span {padding:0 10px 0 0;background-position:right -627px;}
#cee_title {margin:11px 0 0 !important;font-size:1.2em;line-height:1.25em;font-weight:normal;text-align:left;color:#a5a5a5;}
