
.demonav li,.demonav a:hover,.buttons .l,.buttons .p,.samples a,.social a {background:url(../images/bgr/icons.png) no-repeat;}

#dashboard {margin:0 0 15px;}
.js #dashboard {position:absolute;top:25px;right:25px;}

.demonav {box-shadow:0 1px 3px rgba(0,0,0,.65);float:right;}
.demonav ul {margin:0;}
.demonav li {background-color:#d00;}
.demonav a {border:1px solid #a60000;border-top-color:#e64040;width:58px;height:48px;text-indent:-999em;display:block;overflow:hidden;-moz-transition:opacity .5s ease-in;-webkit-transition:opacity .5s ease-in;transition:opacity .5s ease-in;opacity:.4;}
.demonav a:hover {background-position:0 -350px;opacity:1;}
.demonav li:first-child a {border-top-color:#a60000;}
.demonav .selected {background-color:#c51e19;}
.demonav .selected a {border-left-color:rgba(191,6,0,.9);}

#d-features {background-position:0 0;}
#d-devices {background-position:0 -50px;}
#d-orientation {background-position:0 -100px;}
#d-reading {background-position:0 -150px;}
#d-gallery {background-position:0 -200px;}
#d-feedback {background-position:0 -250px;}
#d-machine {background-position:0 -300px;}

.js #dashboard article {padding:17px 20px 5px;display:none;}
.js #dashboard .active {width:300px;height:328px;float:left;display:block;}
#dashboard article {padding:17px 80px 5px 20px;background:rgba(191,6,0,.9);}

#dashboard h1,#dashboard h2 {margin:0 0 14px;font-size:24px;line-height:25px;font-style:italic;text-decoration:none;color:#fff;}
#dashboard h1 {margin:0 0 15px;}
#dashboard h2 {margin:0 0 20px;}
#dashboard h1 em {text-transform:uppercase;font-style:normal;font:18px/30px sans-serif;color:#fff;}
#dashboard p,#dashboard label {font:12px/15px sans-serif;color:#fff;}

.playground {margin:2px 0 0;border-top:1px solid rgba(153,0,0,.9);padding:18px 0 0;width:100%;float:left;}
.playground figure {margin:2px 0 0;width:80px;float:left;}
.playground h3 {margin:0 0 10px;font:bold 12px/15px sans-serif;color:#fff;}
.playground h4 {font:12px/26px sans-serif;color:#fff;}
.playground h5 {font:11px/22px sans-serif;color:#fff;}
.playground h5 a {color:#fff;text-decoration:underline;}

.buttons {width:300px;}
.buttons ul {margin:2px 0 0;border:1px solid #e64444;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;width:140px;background:#b30000;float:left;-moz-box-shadow:inset 1px 2px 2px rgba(0,0,0,.5);-webkit-box-shadow:inset 1px 2px 2px rgba(0,0,0,.5);box-shadow:inset 1px 2px 2px rgba(0,0,0,.5);}
.buttons ul a,.buttons span {margin:-1px 0 1px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;height:28px;width:70px;display:block;}
.buttons .l {background-position:-58px -35px;}
.buttons .selected .l {background-position:-58px 0;}
.buttons .p {background-position:-58px -101px;}
.buttons .selected .p {background-position:-58px -65px;}
.buttons span {background:-moz-linear-gradient(top,#fff,#ccc);background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#ccc));background:linear-gradient(top,#fff,#ccc);}

#manualy {margin:0 0 7px;}
#manualy a {padding:5px 0 0;font-size:14px;font-weight:bold;color:#fff;display:block;}

#demo-devices .remote {width:200px;float:right;}
#demo-devices .remote select {width:200px;}

#demo-orientation .buttons h4 {padding:2px 0 2px;width:138px;float:right;}
#demo-orientation .buttons li {-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;padding:0 0 1px;width:300px;float:left;}
#demo-orientation .buttons li li {padding:0;width:70px;}
#demo-orientation .buttons>li:hover {background:#900;}
#demo-orientation .buttons a:hover {background:-moz-linear-gradient(top,#b30000,#a60000);background:-webkit-gradient(linear,left top,left bottom,from(#b30000),to(#a60000));background:linear-gradient(top,#b30000,#a60000);-moz-box-shadow:1px 2px 2px rgba(0,0,0,.5);-webkit-box-shadow:1px 2px 2px rgba(0,0,0,.5);box-shadow:1px 2px 2px rgba(0,0,0,.5);}
#demo-orientation .buttons em {height:28px;width:70px;text-indent:-999em;display:block;overflow:hidden;}

#demo-reading .buttons {margin:0 0 0 -18px;width:316px;}
#demo-reading .buttons li {margin:0 0 6px 18px;width:140px;float:left;}
#demo-reading .buttons li li {margin:0;width:70px;float:left;}
#demo-reading h3 {margin:0 0 3px;}
#demo-reading .buttons em {width:70px;font:10px/28px arial,sans-serif;color:#600;text-transform:uppercase;text-align:center;display:block;}
#demo-reading .buttons .selected em {color:#595959;text-shadow:0 1px 0 #fff;}

.samples {margin:0 0 0 -15px;}
.samples li {margin:0 0 0 15px;float:left;}
.samples a {width:90px;height:90px;text-indent:-999em;display:block;overflow:hidden;box-shadow:1px 2px 3px rgba(0,0,0,.5);}

#media-video {background-position:-130px 0;}
#media-audio {background-position:-130px -90px;}
#media-photo {background-position:-130px -180px;}

.playground .share {margin:0 0 0 -20px;}
.playground .share li {margin:0 0 0 20px;float:left;}

.social {margin:0 0 0 -10px;width:310px;float:left;}
.social li {margin:0 0 4px;float:left;}
.social a {margin:0 0 0 10px;height:24px;text-indent:-999em;display:block;overflow:hidden;}
#go-facebook {width:55px;background-position:0 -420px;}
#go-twitter {width:55px;background-position:-65px -420px;}
#go-google {width:32px;background-position:-130px -420px;}
#go-rss {width:24px;background-position:-171px -420px;}
#go-readability {width:255px;height:22px;background-position:0 -448px;}

#demo-machine h3 {margin:0;}

.measure {border-top:1px solid #ccc;}
.measure .line {padding:0 0 2px;border-bottom:1px solid #ccc;line-height:22px;color:#ccc;display:block;position:relative;}
.measure .num {color:#333;position:absolute;top:0;right:-40px;}