/*
  _  _  ___ ___ _   _  ___
 |_ | \  |   | / \ |_)  |   /\  |
 |_ |_/ _|_  | \_/ | \ _|_ /~~\ |_

 File: font.css
 Version: 1.0 (11/2011)
 Author: Matjaz Korosec (twitter.com/matjazkorosec)

 */

#intro .entry-summary {font:18px/22px sans-serif;}
#single .entry-content p, #comments .show, #comments h4,.entry-content li {font:12px/16px sans-serif;}
