var config = {}

config.domain = 'trial.local';

config.db              = {};
config.db.host         = 'localhost';
config.db.port         = 3306;
config.db.user         = '';
config.db.pass         = '';
config.db.db_trial     = 'editorial_trial';
config.db.db_marketing = 'editorial_marketing';

config.mail        = {};
config.mail.type   = 'SMTP';
config.mail.host   = '';
config.mail.port   = 465;
config.mail.secure = true;
config.mail.auth   = { user: '', pass: '' };
config.mail.from   = 'Editorial <info@editorialtemplate.com>';
config.mail.cc     = 'Editorial <info@editorialtemplate.com>';

module.exports = config;